
:root{
   --micolor : green;
}
body{
  background-color: aquamarine;
  height: 50vh;
  width: 50vw;
}


.grid-container {
    display: grid;
    grid:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right'
    'menu footer footer footer footer footer'
    ;
    
    grid-gap: 10px;
    background-color: red;
    padding: 10px;
  }
  
  .grid-container  div {
    background-color: var(--micolor);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

@media (max-width:400px){
    .grid-container{
        grid-template-areas: 
        'header header header'
        'menu menu menu'
        'main main main'
        'right right right'
        'footer footer footer'
    }
}